$screen-width: 100vw;

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.section{
    flex: 1;
    background: red;
    border: 1px solid black;
    width: 90%;
    height: 100vh;
}

.section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:first-child button {
    margin: 25% 5%;
    border: 0;
    box-sizing: border-box;
    width: 10%;
    height: 50px;
    background: none;
    color: white;
    font-size: 100%;
    font-weight: 800;

    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    transition: color .5s;

    &:focus{
        outline: none;
    }

    &::before,
    &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        bottom: 0;
        right: 0;
    }
    &:hover {
        color: #60daaa;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: #60daaa; // Make borders visible
        border-right-color: #60daaa;
        transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
        border-bottom-color: #60daaa; // Make borders visible
        border-left-color: #60daaa;
        transition:
            border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
    }
}


.section:nth-child(2){
    display: flex;
    
    div {
        flex: 1;
    }

    #techSec{
        #techHead{
            position: absolute;
            left: 10vw;
        }

        #techs{
            width:90%;
            position: relative;
            top: 100px;
            left: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            img {
                flex: 1;
                max-width: 5 + 5vw;
                height: auto;
                margin-right: 10%;
                margin-bottom: 5vw;
                max-height: 5 + 5vw;
            }
        }
    }
}